.nav-item-group {
    margin-right: 0.3rem;
}


.nav-link-group.btn-dark:not(:disabled):not(.disabled):active,.nav-link-group.btn-dark:not(:disabled):not(.disabled).active, .show > .nav-link-group.btn-dark.dropdown-toggle {
    background-color: #2a4eff;
    border-color: #2a4eff;
    color: white;
}

#proffesor {
    padding: 0.75rem;
    border-top: 1px solid #ebedf2;
    vertical-align: inherit;
}

#plan {
    vertical-align: inherit;
}

a.version:hover {
    color: #d47708;
}
