.nav-item-group {
    margin-right: 0.3rem;
}


.nav-link-group.btn-dark:not(:disabled):not(.disabled):active,.nav-link-group.btn-dark:not(:disabled):not(.disabled).active, .show > .nav-link-group.btn-dark.dropdown-toggle {
    background-color: #2a4eff;
    border-color: #2a4eff;
    color: white;
}
